<div class="container mt-5">
    <div class="card" style="width: 18rem">
        <div>
            <div class="card-body">
                <!-- <img [src]="product.image" class="card-img-top" alt="Wireless Headphones"> -->
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.price}}</p>
                    <p class="card-text text-muted">{{product.description}}</p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
